Source: ros-hydro-openni2-launch
Section: misc
Priority: extra
Maintainer: Michael Ferguson <developers@unboundedrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-openni2-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-depth-image-proc, ros-hydro-image-proc, ros-hydro-nodelet, ros-hydro-openni2-camera, ros-hydro-rgbd-launch, ros-hydro-tf
Description: Launch files to start the openni2_camera drivers using rgbd_launch.
