Source: ros-indigo-openni2-launch
Section: misc
Priority: extra
Maintainer: Michael Ferguson <developers@unboundedrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-openni2-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-depth-image-proc, ros-indigo-image-proc, ros-indigo-nodelet, ros-indigo-openni2-camera, ros-indigo-rgbd-launch, ros-indigo-tf
Description: Launch files to start the openni2_camera drivers using rgbd_launch.
